<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
              http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <filter>
        <filter-name>response_header</filter-name>
        <filter-class>com.vanging.hrms.restful.filter.ResponseHeader</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>response_header</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>com.vanging.hrms.restful.Index</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!--  ;;;;;;;;;;;; admin ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; -->
    <servlet>
        <servlet-name>admin/add_employee</servlet-name>
        <servlet-class>com.vanging.hrms.restful.admin.AddEmployee</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin/add_employee</servlet-name>
        <url-pattern>/admin/add_employee</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>admin/admin_report</servlet-name>
        <servlet-class>com.vanging.hrms.restful.admin.AdminReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin/admin_report</servlet-name>
        <url-pattern>/admin/admin_report</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>admin/delete_employee</servlet-name>
        <servlet-class>com.vanging.hrms.restful.admin.DeleteEmployee</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin/delete_employee</servlet-name>
        <url-pattern>/admin/delete_employee</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>admin/employee_report</servlet-name>
        <servlet-class>com.vanging.hrms.restful.admin.EmployeeReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin/employee_report</servlet-name>
        <url-pattern>/admin/employee_report</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>admin/login</servlet-name>
        <servlet-class>com.vanging.hrms.restful.admin.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin/login</servlet-name>
        <url-pattern>/admin/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>admin/settle_the_wage</servlet-name>
        <servlet-class>com.vanging.hrms.restful.admin.SettleTheWage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin/settle_the_wage</servlet-name>
        <url-pattern>/admin/settle_the_wage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>admin/update_or_delete_employee</servlet-name>
        <servlet-class>com.vanging.hrms.restful.admin.UpdateOrDeleteEmployee</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin/update_or_delete_employee</servlet-name>
        <url-pattern>/admin/update_or_delete_employee</url-pattern>
    </servlet-mapping>

    <!--  ;;;;;;;;;;;; employee ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; -->

    <servlet>
        <servlet-name>employee/add_order</servlet-name>
        <servlet-class>com.vanging.hrms.restful.employee.AddOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>employee/add_order</servlet-name>
        <url-pattern>/employee/add_order</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>employee/add_timecard</servlet-name>
        <servlet-class>com.vanging.hrms.restful.employee.AddTimecard</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>employee/add_timecard</servlet-name>
        <url-pattern>/employee/add_timecard</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>employee/delete_order</servlet-name>
        <servlet-class>com.vanging.hrms.restful.employee.DeleteOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>employee/delete_order</servlet-name>
        <url-pattern>/employee/delete_order</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>employee/login</servlet-name>
        <servlet-class>com.vanging.hrms.restful.employee.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>employee/login</servlet-name>
        <url-pattern>/employee/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>employee/set_pay_method</servlet-name>
        <servlet-class>com.vanging.hrms.restful.employee.SetPayMethod</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>employee/set_pay_method</servlet-name>
        <url-pattern>/employee/set_pay_method</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>employee/update_order</servlet-name>
        <servlet-class>com.vanging.hrms.restful.employee.UpdateOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>employee/update_order</servlet-name>
        <url-pattern>/employee/update_order</url-pattern>
    </servlet-mapping>

</web-app>